<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seitenauswahl</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/view_inventory.html">Lagerbestand</a></li>
                <li><a href="/add_product.html">Produkt hinzufügen</a></li>
                <li><a href="/create_offer.html" class="active">Angebot erstellen</a></li>
            </ul>
        </nav>
    </header>
    <main>
        Angebot erstellen
    </main>
    <footer>
        <!-- Hier kommt der Footer, falls benötigt -->
    </footer>
</body>
</html>
